{% extends 'layout.html' %}

{% block body %}
    <h1>You can reach all of us on Github:</h1>
    <p class="lead"> - <a href="https://github.com/brandonwang1" target="_blank" >https://github.com/brandonwang1</a></p>
    <p class="lead"> - <a href="https://github.com/matt-dong" target="_blank" >https://github.com/matt-dong</a></p>
    <p class="lead"> - <a href="https://github.com/senapathys" target="_blank" >https://github.com/senapathys</a></p>
    <p class="lead"> - <a href="https://github.com/arjunneervannan" target="_blank" >https://github.com/arjunneervannan</a></p>

{% endblock %}
